body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.intro-jumbotron {
  height: 600px;
}

.profile-jumbotron {
  height: 500px;
}

.override-blockquote {
  border-left: 5px solid #1976d2;
}

.override-footer {
  padding-top: 0px;
}

.portfolio-jumbotron {
  height: 1000px;
}

.portfolio-card {
  margin: 30px;
}

.skills-jumbotron {
  height: 650px;
}

.chart-container {
  width: 80%;
  height: 480px;
  margin: 0 auto;
}

.testimonials-jumbotron {
  height: 400px;
}

.contact-jumbotron {
  height: 500px;
}

.input-field input:focus + label, textarea:focus + label {
  color: #1976d2 !important;
}

.row .input-field input:focus, textarea:focus {
  border-bottom: 1px solid #1976d2 !important;
  box-shadow: 0 1px 0 0 #1976d2 !important
}
