body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.intro-jumbotron {
  height: 600px;
}

.profile-jumbotron {
  overflow:hidden;
  height:1%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.override-blockquote {
  border-left: 5px solid #1976d2;
}

.override-footer {
  padding-top: 0px;
}

.portfolio-jumbotron {
  overflow:hidden;
  height:1%;
}

.portfolio-card {
  margin: 30px;
}

.skills-jumbotron {
  overflow:hidden;
  height:1%;
  padding-bottom: 50px;
}

.chart-container {
  overflow:hidden;
  height:1%;
}

.testimonials-jumbotron {
  overflow:hidden;
  height:1%;
}

.contact-jumbotron {
  height: 500px;
}

.input-field input:focus + label, textarea:focus + label {
  color: #1976d2 !important;
}

.row .input-field input:focus, textarea:focus {
  border-bottom: 1px solid #1976d2 !important;
  box-shadow: 0 1px 0 0 #1976d2 !important
}

section {
	width: 80%;
	margin: 70px auto;
}

/* Simple Slider */
.white-back{
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	background: #fff;
}

.simple blockquote p {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #1e528e;
	padding: 25px;
	font-size: 1.25em;
	font-style: italic;
	text-align: center;
}

.simple cite {
	font-size: 1em;
	float: right;
	font-style: normal;
	color: #1e528e;
}

.simple cite a {
	color: #2d91c2;
	font-style: italic;
	text-decoration: none;
	font-size:.85em;
}

.simple cite a:hover {
	color: #00B4CC;
}

/* Bubble Slider */

.bubble blockquote {
	margin: 10px 10px 0;
	background: #fff;
	padding: 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-size: 1.25em;
	color: #1e528e;
}

.bubble blockquote:before, .bubble blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	padding: 10px;
	line-height: 1;
	color: #1e528e;
}

.bubble blockquote:before {
	top: 0;
	left: 10px;
}

.bubble blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -.5em;
}

.bubble div {
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
	margin: 0 0 0 60px;
	margin-bottom: 10px;
}

.bubble cite {
	padding-left: 20px;
	font-size: 1.25em;
  color:#f7f7f7;
}
